{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block formularios_user %}
        <div class="container col-md-6 col-lg-4">
            <h2>Registro de Usuario</h2>
            <form action="/registro/" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Registrarse</button>
                <a href="/" class="btn btn-link">¿Ya tienes una cuenta? Inicia sesión</a>
            </form>
        </div>
    
{% endblock formularios_user %}
    